<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
<div class="media">
  <div class="media-body">
    <% if current_user == @user %>
    <%= link_to " ", [@user, item], method: :delete,remote: true, class: 'glyphicon glyphicon-pencil', title: 'Mark as complete'%>
    <% end %>
       <%= item.name.titleize %>
      <div class="pull-right">
      <%= distance_of_time_in_words(Time.now , item.created_at + 7.days) %> Remaning
    </div>
  </div>
</div>
<% end %>
