<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
<div class="media">
  <div class="media-body">
    <small>
      <%= item.name.titleize %>
      | <%= distance_of_time_in_words(Time.now , item.created_at + 7.days) %> Remaning.
      <% if current_user == @user %>
      <%= link_to "Completed", [@user, item], method: :delete,remote: true, class: 'glyphicon glyphicon-ok' %><br>
      <% end %>
    </small>
  </div>
</div>
<% end %>
