/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
 @import "bootstrap";

body {font-family: 'Raleway', sans-serif; background-color: #e3e3e3
}
.container {background-color: #fff}
.glyphicon:before { margin-right: 9px; }

.user-info {
  padding-top: 10px;
  }

  .nav {background-color: #00BCD4;}
  .nav {}

  .nav li a { color: white;}
  .nav li a:hover { background-color: #0097A7; border: none;}

ul.nav.nav-tabs li.dropdown.pull-right.open a.dropdown-toggle {background-color:#0097A7; ; color: white}
.dropdown-menu li a {color:#727272}

.panel.panel-default .panel-heading {background-color: #9068be; color: white}

.col-md-3 {padding: 0px;}
.col-md-7 {padding-left: 5px}
.reminder {padding-top: 0px}
.reminder li {}
